<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499896566871-1e597cjoit89s2onr7pkvqteuct7jhhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499896566871-1e597cjoit89s2onr7pkvqteuct7jhhk</string>
	<key>API_KEY</key>
	<string>AIzaSyB-iFnZaE1xTEB0mB2UKUuoqzp7kEqwW4g</string>
	<key>GCM_SENDER_ID</key>
	<string>499896566871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sally.com.attendanccc</string>
	<key>PROJECT_ID</key>
	<string>attendanccc</string>
	<key>STORAGE_BUCKET</key>
	<string>attendanccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499896566871:ios:f92e95104491bb0dbb4f12</string>
</dict>
</plist>