<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57097784031-bd0nna2khive5u3vi8fsso752o7f11b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57097784031-bd0nna2khive5u3vi8fsso752o7f11b0</string>
	<key>API_KEY</key>
	<string>AIzaSyApt9pKlXYM7DFwjhvchIv6YqfNGgESV7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>57097784031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sara.attended</string>
	<key>PROJECT_ID</key>
	<string>attended-5b572</string>
	<key>STORAGE_BUCKET</key>
	<string>attended-5b572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57097784031:ios:14253ad1f2307527c8f76a</string>
</dict>
</plist>