<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93058496596-0ac3je332lfj2jrvvp972s08rrnuhvnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93058496596-0ac3je332lfj2jrvvp972s08rrnuhvnb</string>
	<key>API_KEY</key>
	<string>AIzaSyAiju2ZGpn8dK5hFGks0xKAhceNk9YVIsk</string>
	<key>GCM_SENDER_ID</key>
	<string>93058496596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aziz.Aziz-AttendanceApp</string>
	<key>PROJECT_ID</key>
	<string>attendance-a4671</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-a4671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93058496596:ios:a08c288c52690012b955c1</string>
</dict>
</plist>