<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141836338967-g6lrsoim9aveamk4pp5e1bf6isqmjeqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141836338967-g6lrsoim9aveamk4pp5e1bf6isqmjeqs</string>
	<key>API_KEY</key>
	<string>AIzaSyDE4NRdqd_7q5_gBc_sE0Rv8s9t3C3xzyI</string>
	<key>GCM_SENDER_ID</key>
	<string>141836338967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SanaAlshahrani.AttendanceApp</string>
	<key>PROJECT_ID</key>
	<string>attendanceapp-ef3fe</string>
	<key>STORAGE_BUCKET</key>
	<string>attendanceapp-ef3fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141836338967:ios:7d1b7113555326169a5952</string>
</dict>
</plist>