<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53844643498-6eur93cq7q5b625skjbebrv0408ef4p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53844643498-6eur93cq7q5b625skjbebrv0408ef4p6</string>
	<key>API_KEY</key>
	<string>AIzaSyBoHhu9bIDYfOV3DsrsBA6-BKRTz8jKcbo</string>
	<key>GCM_SENDER_ID</key>
	<string>53844643498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuna.AttendanceApp</string>
	<key>PROJECT_ID</key>
	<string>attenanceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>attenanceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53844643498:ios:6f49ff3ddda89550d9cad3</string>
</dict>
</plist>